@charset "UTF-8";

body{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

div#inicio{
    margin: auto;  
    width: 500px;
    height: 100%;
}

div#inicio:hover{
    background-color: rgba(255, 255, 255, 0.205);    

}



div#tarja{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;    
}

section > p{
    background-color: rgb(187, 67, 67);
    color: rgb(204, 32, 32);
    width: 100%;
    height: 200px;
    font-weight: bolder;
    

}






/*div{
    display: inline-block;
    text-align: center;
    width: 100%;
} */