@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@200&display=swap');

:root{
    --font1: 'Epilogue', sans-serif;
    --font2: 'Fira Sans Extra Condensed', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


html, body {
    min-height: 100vh;
}

body{
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color:  rgb(255, 255, 255);
}

nav{
    background-color: white;
    padding-top: 5px;
    color: rgb(235, 97, 42);
    font-family: var(--font2);
    font-weight: 600;   
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu{
    background-color: white;
    padding-top: 0px;
    list-style: none;
    z-index: 99;
    position: fixed;
}

.menu li{
    padding: 0 15px 0 15px;
    position: relative; 
    float: left;
}

.menu li a{
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: tomato;
    transition: .3s;
}

.menu li a:hover{
    background: tomato;
    color:#fff;
}

.menu li ul{
    position: absolute;
    top: 27px;
    left: 0;
    background-color: tomato;
    display: none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    background-color: white;
    display:block;
    width:150px;
    padding: 5px 0px 5px 0px;
    }





div.container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 30vh;
    text-align: center;
    vertical-align:middle;
    margin: 20px 0 20px;
}

.container:hover{
    
    /*background-color: tomato;
    color: white;
    margin: 20px 0 20px;*/
}

.container > p{
    font-family: var(--font2);
    font-weight: light;
    font-size: 1.5em;
}

main > a{
    text-decoration: none;
    color:  rgb(235, 97, 42);
}

.container > h1{
    font-family: var(--font1);
    font-weight: 900;
    font-size: 8vh;
    padding-top: 7vh;
    transition: 0.3s ease-out;
}

.container>h1:hover{
    transform: scale(1.2);
    color: rgba(128, 128, 128, 0.783);
}




.janela{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.capa{
    background-image: url(../imagens/capa2.jpg);
    background-position: top center;
    height: 97vh;
}

.design{
    background-image: url(../imagens/menu/design.jpg);
    background-position: top center;
}

.fotografia{
    background-image: url(../imagens/menu/fotografia.jpg);
    background-position: top center;
}

.web{
    background-image: url(../imagens/menu/web.jpg);
    background-position: top center;
}

.sobre{
    background-image: url(../imagens/menu/sobre.jpg);
    background-position: top center;
}


.parallax{
    background-attachment: fixed;
}







/*  DESIGN  */


.container-design{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.container-2{
    margin: 15px;

}

.container-3{
    width: 100%;
    height: 30vh;
    position: relative;
}

.container-3 .imagem{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-3 .imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.container-3:hover .imagem img{
    transform: scale(1.1);
    opacity: 60%;
}

.container-3 .text{
    font-family: var(--font1);
    font-size: 5em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    color: rgba(0, 0, 0, 0.748);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
    font-variant-caps: all-small-caps;     
}

.container-3:hover .text{
    opacity: 1;
}


footer{ /* escolher outra tipografia */
    text-align: center;
    font-family: var(--font2);
    font-weight: 500;
    font-size: 1em;
    padding-top: 20px;
}



/* editorial */

header > h1{
    font-family: var(--font1);
    font-weight: 900;
    font-size: 6vh;
    padding-top: 7vh;
    text-align: center;
}








/* FOTOGRAFIA */
.container-photo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-columns: dense;
}

.galeria-item{
    width: 100%;
    height: 100%;
    position: relative;
}