@charset "UTF-8";

body{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

div#inicio{
    height: 100%;
    margin: auto;    
}

div#inicio:hover{
    background-color: rgba(255, 255, 255, 0.205);    
}

nav{
    display: flex;
    flex-flow: row wrap;
}

div.design{
    background-image: url(imagens/terezamarca.png);

}

div.contato{
    background-image: url(imagens/terezamarca.png);

}

div.add{
    background-image: url(imagens/terezamarca.png);

}

/*div{
    display: inline-block;
    text-align: center;
    width: 100%;
} */